<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRO2pOUe9GbD4Z0VPlRuaO4nwdAQUPd0c</string>
	<key>GCM_SENDER_ID</key>
	<string>500950660538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crazyDorm</string>
	<key>PROJECT_ID</key>
	<string>crazy-dorm</string>
	<key>STORAGE_BUCKET</key>
	<string>crazy-dorm.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500950660538:ios:3ac2a55bb9f75c8d681983</string>
</dict>
</plist>